<h1>Это наш новый сайт</h1>




<ul class="goods">
    {% for value in hello%}
    <li>товар {{value.name}} цена {{value.price}} руб. <img src="{{value.photo}}" alt="изображение {{value.name}}"> <button name="{{value.name}}">Купить</button></li>
    {%endfor%}
</ul>



<h2>{{ info }}</h2>

<ul>{% for key, value in menuList%}
<li><a href='{{value}}'>{{key}}</a></li>
{%endfor%}
</ul>


