<h1>Каталог товаров</h1>



<ul>{% for value in catalog%}
    <li>
        <a href='/product/item/?product_id={{value.id}} '>{{value.product_name}}</a> Цена: {{value.product_price}}


        {% for valuePic in value['images'] %}
        <img src="{{valuePic}}    " alt="{{valuePic}}">

        {%endfor%}

    </li>
    {%endfor%}

</ul>
<a href="/">На глвную</a>