AddDefaultCharset UTF-8
DirectoryIndex index.php index.html

RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} [NC, OR]
#RewriteCond %{REQUEST_FILENAME} [NC]
#RewriteRule .* - [L]

#RewriteRule ^(.*)/$ ?path=$1 [QSA,L]

RewriteRule .* index.php [L,QSA]
