{% if isAuth[1] == 0 %}

Нужно авторизоваться. <a href="/user/login">Войти</a>

{% elseif order['empty'] == 1 %}

<h2>Заказ пуст</h2>

<a href="/">На главную</a>
<a href="/order">Мои заказы</a>

{% else %}


<h2>Ваш текущий заказ:</h2>

<ul>

    {% for value in order%}
    <li>
        {{ value["product_name"]}}: {{value["product_price"]}} руб.

        <form method="post" action="/order/removefromorder/">

            <button name="removeFromOrder" value=" {{value['pId']}} ">Удалить</button>

        </form>

    </li>

    {%endfor%}

</ul>
<form method="post" action="/order/save/">

    <button name="save" value=' {{order[0]["id_order"]}} '>Оформить заказ</button>

</form>


<form method="post" action="/order/removeorder/">
    <button name="remove" value=' {{order[0]["id_order"]}} '>Удалить заказ</button>
</form>


<a href="/">На главную</a>
<a href="/order">Мои заказы</a>


{% endif %}
