{% if isAuth[1] == 0 %}

Нужно авторизоваться. <a href="/user/login">Войти</a>


{% else %}


<h2>Заказ № {{order[0]["id_order"]}} :</h2>

<ul>

    {% for value in order%}
    <li>
        {{ value["product_name"]}}: {{value["product_price"]}} руб.
    </li>

    {%endfor%}
</ul>



<a href="/">На главную</a>
<a href="/order">Мои заказы</a>





{% endif %}

