<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesoon3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<img src='{{uri | escape}}' alt=''>
<br>
<a href='/'>BACK</a>


</body>
</html>